apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/adell2024/3tiers-promox-iac.git'
    targetRevision: main
    path: helm/charts/monitoring       # <-- ton chart Helm
    helm:
      valueFiles:
        - values.yaml                 # fichier de valeurs du chart
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring             # namespace cible
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

